@import url('https://fonts.googleapis.com/css2?family=Alkatra&family=Playfair+Display:ital@1&family=Poppins:wght@400;500;600&display=swap');
*{
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: black;
    padding: 0%;
    margin: 0%;
}
p{
    color: white;
}
section{
    display: flex;
    flex-direction: column;
    gap: 15px;
    height: 870PX;
    align-items: center;
    background-color: #09204E;
    padding: 10px;
 
   
}
section >h1{
    font-size: 30px;
    font-family: 'Playfair Display', serif;
    color: white;
    padding: 5px;
   
}
form{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 50%;
    border-radius: 20px;
    align-items: center;
    background-color: #E7EAED;
    padding: 30px;
   
}
form div input{
    width: 200px;
    height: 32px;
   border: none;
   border-radius: 10px;
   background-color: rgba(255, 255, 255, 0.708);

}
form div{
    display: flex;
    width: 90%;
    align-items: center;
    justify-content: space-between;
}
form label{
    width: 100PX;
}
.red-text{
    display: none;
}
button{
  
    width: 100px;
    height: 30px;
    font-family: 'Roboto', sans-serif;
      background-color:white;
      border: none;
      border-radius: 8px;
      padding: 10px;
      text-align: center;
      color: black;
      font-size: 15px;
      display: flex;
      align-items: center;
      justify-content: center;
}
.btn{
    width: 100px;
    height: 30px;
}
#continent{
    width: 200px;
    height: 32px;
   border: none;
   border-radius: 10px;
   background-color: rgba(255, 255, 255, 0.708);
}
.list{
    height: 70px;
    width: 100px;
}
.center{
    display: flex;
    align-items: center;
    justify-content: center;
   
}
.center input{
    background-color:#09204E;
    color: white;
   
}