@import url('https://fonts.googleapis.com/css2?family=Alkatra&family=Playfair+Display:ital@1&family=Poppins:wght@400;500;600&display=swap');

*{
    margin: 0%;
    padding: 0%;
}

body{

    background-color: aliceblue;
   
}

.contente{
    display: flex;
    width: 100%;
    overflow: hidden;
    
}
.titre-recherche{
    margin-top: 10px;
    color: black;
    font-family: "Poppins";
}
li span{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    font-size: larger;
    color: white;
}
nav{
    width: 20%;
    padding: 15px;
    background-color: rgb(9, 32, 78);
    z-index: 1;
    
}
nav li {
    font-family: "Poppins";
    color: #bcbcbced;
   
}
nav h2{
    font-family: 'Playfair Display', serif;
    color: white;
}
nav li a{
    text-decoration: none;
   margin: 20px;
   color: white;
}
nav li a:hover{
    color: black;

}
.home{
    display: flex;
    flex-direction: column;
    width: 83%;
    height: 750px;
   
}
.text h3{
    font-family: 'Courgette', cursive;
    margin-top: -18% !important;
}

header{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10%;
    width: 91% !important;
    margin-left: -33px !important;
   
}
section{
width: 100%;
height: 80%;
display: flex;
align-items: center;
flex-direction: column;
margin-top: 5%;


}
form{
    display: grid;
    grid-template-columns: auto auto;
   column-gap: 150px;
   row-gap: 10PX;
   padding: 50px;
   transform: scaleX(-1);
   background-color: rgba(226, 226, 226, 0.632);
   border-radius: 20px;
   margin-top: 3%;
  
}
hr{
    margin-top: 4%;
}
form div{
    display: flex;
    justify-content: space-between;
    transform: scaleX(-1);

}
form div input{
    width: 250px;
    height: 32px;
   border: none;
   border-radius: 10px;
   background-color: rgba(255, 255, 255, 0.708);

}
form div span{
   margin-right: 10px;

}
.btn{
    width: 100%;
  
}
.btn button{
    margin-top: 2%;
 width: 100px;
   font-family: 'Times New Roman', Times, serif;
   background-color: rgba(47, 85, 142, 0.939);
   border: none;
   border-radius: 8px;
   padding: 10px;
   text-align: center;
   color: white;
   font-size: 15px;

}
hr{
    width: 80%;
}
.resultat{

width: 100%;
color: black;
font-family: Arial, Helvetica, sans-serif;
font-size: 18px;

}
.airplan{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 60%;
    justify-content: space-evenly;
    z-index: 1;
}
.airplan img{
    margin-right: 4%;
    width:60px;

}
.resultat ul{
display: flex;
flex-direction: column;
align-items: flex-start;
width: 100%;
padding: 50px;
}
.resultat li{
display: flex;


justify-content: space-between;
width: 200px;
padding: 10px;
}

.mySlides {
    display: none;
}
img {
    vertical-align: middle;
}
.travel{
    align-items: start;
    margin-right: -76%;
    z-index: 1;
}
.travel img{
    width: 90px;
}
div.resultat ul li a {
    color: white;
    text-decoration: none;
}
div.resultat ul li{
    background-color: rgba(9, 32, 78, 0.494);
    border-radius: 10px;
   margin-left: 5px;
   margin-top: -20px !important;

}
div.resultat ul{
   display: flex ;
   flex-direction: row;
}
/*pagination*/
.resultat {
    position: relative;
    overflow: hidden;
  }
  
  .liste-pagination {
    list-style: none;
    padding: 0;
    margin: 0;
    white-space: nowrap;
    transition: transform 0.3s ease;
  }
  
  .liste-pagination li {
    display: inline-block;
    margin-right: 10px;
  }
  
  .pagination {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .pagination a {
    display: inline-block;
    padding: 5px 10px;
    margin: 0 2px;
    text-decoration: none;
    color: #000;
    background-color: #e0e0e0;
    border-radius: 3px;
  }
  
  .pagination a:hover {
    background-color: #ccc;
  }
  .resultat .tns-controls button{
    margin-top: 2%;
    width: 100px;
      font-family: 'Times New Roman', Times, serif;
      background-color: rgba(47, 85, 142, 0.939);
      border: none;
      border-radius: 8px;
      padding: 10px;
      text-align: center;
      color: white;
      font-size: 15px;

}
.tns-controls,.tns-liveregion {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10PX
    ;
}
.liste-pagination a{
    margin: 20px;
}
.liste-pagination a:hover{
    color: rgb(9, 32, 78);
}
  
/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

  .active {
    background-color: #717171;
  }
  .text {
    color: white;
    font-size: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
     font-size: 50px;
  }
  
  
  /* Fading animation */
  .fade {
    animation-name: fade ;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
